@import '../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/* "--spacing" It’s a design token defined by Filament’s core CSS (from the filament/support package). The variable --spacing is declared in Filament’s theme CSS that ships with the package and is included automatically in your panel’s styles. */
.fi {
    /* --spacing: 0.18rem; */
    /* --text-sm: 1rem; */
    /* --text-base: 1.2rem; */
    /* --text-lg: 1.4rem; */
    /* --text-xl: 1.6rem; */
}

.fi-sidebar-nav {
    /* remove extra useless padding */
    padding-right: 1px;
}

.w-800px {
    width: 800px;
}

.w-960px {
    width: 960px;
}

.fi-btn.fi-size-sm.fi-ac-btn-action {
    text-transform: capitalize;
}

button[x-data="filamentFormButton"] {
    text-transform: capitalize;
}
